@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


*{
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-color: whitesmoke;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  
}

.container h1{
  margin: 43px;
}

.inputC{
  
  padding: 10px;
}
.inputC label{
  margin-right: 10px;
  font-size: 20px;
}

.inputC input{
  font-size: 20px;
  padding: 6px;
  border-radius: 15px;
}

.container button{
  margin: 23px;
  margin-left: 163px;
  font-size: 17px;
  padding: 8px;
  text-align: center;
  background-color: #3131ff;
  cursor: pointer;
  color: white;
}

.main{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.main1{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

.main1 h4{
  margin: 20px;
}
.head{
  display: flex;
  font-size: x-large;

}

.log{
  margin-left: 23px;
}

.log img{
  border-radius: 50%;
  
}

/* .a1{ */
  /* margin-top: 23px; */
/* } */
.a2{
  width: 100%;
  /* height: 5vh; */
}
#psw{
  margin-left:0.5rem;
}

.btn{
  border-radius: 10px;
  font-size: 17px;
  padding: 8px;
  text-align: center;
  background-color: #3131ff;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 15rem;
}
@media screen and (max-width: 1300px) {
  .btn {
   right: 10rem;
  }
}
@media screen and (max-width: 1010px) {
  .btn {
   right: 5rem;
  }
}
@media screen and (max-width: 760px) {
  .btn {
   right: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .btn {
   right: 1rem;
  }
  .main1{
    width: 75%;
  }
}
@media screen and (max-width: 400px) {
  .main1{
    width: 60%;
  }
}

.text-center{
  text-align: center;
}